<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('课程管理')" />
</head>
<body class="gray-bg">
<!-- 主面板 -->
<div class="ibox">
    <!-- 主面板标题  -->
    <div class="ibox-title">
        <ul class="nav nav-tabs pull-left">
            <li><a href="#" th:text="${courseName}"></a></li>
        </ul>
        <ul class="nav nav-pills pull-right">
            <li class="disabled"><a href="#">作业</a></li>
            <li><a href="#">通知</a></li>
            <li><a id="task">任务</a></li>
        </ul>
    </div><!-- 主面板标题  end-->
    <!-- 主面板内容  -->
    <div class="ibox-content">
        <!-- 栅栏分块行1 -->
        <div class="row">
            <div th:each="jobs : ${jobsList}">
                <!-- 栅栏分块列1-1 -->
                <div class="col-sm-4">
                    <!-- 小面板 -->
                    <div class="panel panel-success">
                        <!-- 小面板头部 -->
                        <div class="panel-heading">
                            <b th:text="${jobs.getJobTitle()}"></b>
                        </div><!-- 小面板头部 end-->
                        <!-- 小面板内容 -->
                        <div class="panel-body">
                            <p><b>开始时间：</b><span th:text="${#dates.format(jobs.getStartTime(), 'yyyy-MM-dd HH:mm')}"></span></p>
                            <p><b>截止时间：</b><span th:text="${#dates.format(jobs.getEndTime(), 'yyyy-MM-dd HH:mm')}"></span></p>
                            <p><b>作业状态：</b><span th:text="${jobs.getCourseJobUser().getState()}"></span></p>
                        </div><!-- 小面板内容 end-->
                        <!-- 小面板底部 -->
                        <div class="panel-footer">
                            <button class="btn  btn-primary" th:onclick="turn([[${jobs.getCourseJobUser().getId()}]])">&nbsp;查看&nbsp;</button>
                            <button class="btn btn-danger pull-right"><span th:text="${jobs.getCourseJobUser().getScore()}"></span></button>
                        </div><!-- 小面板底部 end-->
                    </div><!-- 小面板 end-->
                </div> <!-- 栅栏分块列1-1 end -->
            </div>
        </div><!-- 栅栏分块行1 -->
    </div><!-- 主面板内容 end-->
</div><!-- 主面板 end-->
<th:block th:include="include :: footer" />
<script>
    function turn(t){
        var prefix = ctx + "student/homework/edit?id=" + t;
        $.modal.openTab('作业', prefix );
    }


    var id = [[${courseId}]]
    var URL = ctx + "student/course/task?id="+id;
    $("#task").click(function(){
        $.modal.parentTab('课程任务', URL );
    })
</script>
</body>
</html>
