<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('我学的课')" />
    <style>
        .cont{
            overflow: hidden;/*内容超出后隐藏*/
            text-overflow: ellipsis;/* 超出内容显示为省略号*/
            white-space: nowrap;/*文本不进行换行*/
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- 栅格row-->
    <div class="row">
        <div th:each="course:${courseList}" th:onclick="turn([[${course.getId()}]])">
            <!-- 栅格col-->
            <div class="col-sm-4">
                <!-- 卡片列表-->
                <span style="display: none;" th:value="${course.getId()}"></span>
                <a style="color: inherit" >
                    <div class="ibox" th:class="test11">
                        <!-- 卡片标题-->
                        <div class="ibox-title">
                            <span class="label label-primary pull-right" title="有新的作业">NEW</span>
                            <h5 th:text="${course.getCourseName()}"></h5>
                        </div>
                        <!-- 卡片内容-->
                        <div class="ibox-content">
                            <p><b>授课教师：</b> <span th:text="${course.getCreateBy()}"></span></p>
                            <p><b>课程时间：</b> <span th:text="|${#dates.format(course.getStartTime(), 'yyyy-MM-dd')}--
                            ${#dates.format(course.getEndTime(), 'yyyy-MM-dd')}|"></span></p>
                            <p class="cont" th:title="${course.getRemark()}"><b>备注：</b>
                                <span th:text="${course.getRemark()}"></span></p>
                            <div>
                                <br>作业完成进度：</br>
                                <div class="stat-percent">48%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </div>
                        </div><!-- 卡片内容 end-->
                    </div><!-- 卡片列表 end--></a>
            </div><!-- 栅格col end-->
        </div>
    </div><!-- 栅格row end-->
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    //传值

    function turn(t){
        var prefix = ctx + "student/course/courseManagement?id=" + t;
        $.modal.openTab('课程作业', prefix );
    }

</script>
</body>
</html>
