<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE generatorConfiguration

        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"

        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">


<generatorConfiguration>


    <classPathEntry location="E:/IDE/apache-maven-3.6.1/maven_jar/mysql/mysql-connector-java/5.1.6/mysql-connector-java-5.1.6.jar" />


    <context id="default" targetRuntime="MyBatis3">


        <commentGenerator>

            <property name="suppressDate" value="true" />

            <property name="suppressAllComments" value="true" />

        </commentGenerator>

        <!--数据库连接配置-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"

                        connectionURL="jdbc:mysql://localhost:3306/frame"
                        userId="root"
                        password="123456">

        </jdbcConnection>

        <!--指定自动生成的 POJO置于哪个包下-->
        <javaModelGenerator
                targetPackage="com.lsm.frame.model.entity"

                targetProject="src/main/java">

            <property name="trimStrings" value="true" />

        </javaModelGenerator>

        <!--指定自动生成的 mapper.xml置于哪个包下-->
        <sqlMapGenerator targetPackage="mapper"

                         targetProject="src/main/resources">

        </sqlMapGenerator>

        <!--指定自动生成的 DAO接口置于哪个包下-->
        <javaClientGenerator type="XMLMAPPER"

                             targetPackage="com.lsm.frame.mapper"

                             targetProject="src/main/java">

        </javaClientGenerator>

        <!--指定数据表名，可以使用_和%通配符，默认生成EXAMPLE-->
        <table tableName="course_job_user" domainObjectName="CourseJobUser"

               enableCountByExample="false" enableUpdateByExample="false"

               enableDeleteByExample="false" enableSelectByExample="false"

               selectByExampleQueryId="false">

        </table>

    </context>

</generatorConfiguration>