<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/public.css}" rel="stylesheet"/>
</head>
<body class="bg">
<div class="show">
    <h2 class="title">在线作业管理系统</h2>
    <div class="login-panel">
        <h4 class="form-title">Login</h4>
        <hr class="top-line">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">账号</label>
                <input name="username" id="username" type="text" class="form-control" placeholder="请输入账号..." />
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input name="password" id="password" type="password" class="form-control" placeholder="请输入密码..." />
            </div>
            <div class="form-group">
                <select name="type" class="form-control" id="type" align="center">
                    <option value="STUDENT">学生</option>
                    <option value="TEACHER">老师</option>
                    <option value="ROOT">管理员</option>
                </select>
            </div>
            <p><input type="checkbox" name="rememberMe" />记住我</p>
            <div class="form-group">
                <button type="submit" class="btn btn-info" id="submit">登录</button>
            </div>
            <p th:text="${message}" style="color:red;"></p>
        </form>

        <div class="order">
            <span class="line"></span>
            <span class="txt">第三方账号登录</span>
            <span class="line"></span>
        </div>
        <div class="row">
            <button class="col-md-5 col-sm-5 col-xs-5 btn-login left">QQ</button>
            <span class="col-md-2 col-sm-2 col-xs-2"></span>
            <button class="col-md-5 col-sm-5 col-xs-5 btn-login right">微信</button>
        </div>
    </div>
    <div class="switch row">
        <button class="switch-action" >&lt;&nbsp;还没有账号？<span>联系管理员</span></button>
    </div>
</div>
</body>

</html>
