<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录界面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="post" action="/login" >
        账号：<input name="username" type="text" />
        密码：<input name="password" type="password" />
        <select name="type" class="form-control" id="type" align="center">
            <option value="STUDENT">学生</option>
            <option value="TEACHER">老师</option>
            <option value="ROOT">管理员</option>
        </select>
        <button type="submit" >提交 </button>
    </form>
    <p th:text="${message}" style="color:red;"></p>
</body>

</html>
