<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('Summernote富文本编辑器')" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="gray-bg">
<!-- 主面板 -->
<div class="ibox">
    <!-- 主面板标题-->
    <div class="ibox-title">
        <h5 th:text="|姓名：${userName}|"></h5>
    </div>
    <!-- 主面板内容-->
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">
                <!-- 第一层面板-->
                <form class="form-horizontal m" id="form-notice-add">
                    <div id="review">
                        <div th:each="userReply : ${userReplyList}" class="reply">
                            <div th:if="${userReply.getSubjectModel().getType()}==3">
                                <div class="shortAnswer">
                                    <input  name="id" th:value="${userReply.id}" type="hidden">
                                    <h4 th:utext="| ${userReply.getSubjectModel().getStem()} |" ></h4>
                                    <p style="color: red" th:text="|分数：${userReply.getSubjectModel().getScore()}
                                        得分：${userReply.getScore()}|"></p>
                                    <h4>学生答案:</h4>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p id="reply" name="reply" th:utext="${userReply.getReply()}" ></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">打分：</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="score" class="form-control"  th:value="${userReply.score}"
                                                   th:placeholder="|0-${userReply.getSubjectModel().getScore()}|">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${userReply.getSubjectModel().getType()}!=3">
                                <div class="other">
                                    <input  name="id" th:value="${userReply.id}" type="hidden">
                                    <h4 th:utext="| ${userReply.getSubjectModel().getStem()} |" ></h4>
                                    <p style="color: red" th:text="|分数：${userReply.getSubjectModel().getScore()}
                                  得分：${userReply.getScore()}|"></p>
                                    <h4>选项:</h4>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="radio-box" th:each="option : ${userReply.getSubjectModel().getOptions()}" >
                                                <span>
                                                    <p  name="reply" th:text="${option.getContent()}"></p>
                                                </span>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                    <h4>学生答案:</h4>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <label th:text="|${userReply.getReply()}|"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">打分：</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="score" class="form-control"  th:value="${userReply.score}"
                                                   th:placeholder="|0-${userReply.getSubjectModel().getScore()}|">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" onclick="submitScore()"><i class="fa fa-reply-all"></i>提交 </button>
                </form>
            </div>
        </div>
    </div><!-- 主面板内容 end-->
</div><!-- 主面板 end-->
<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<script>

    function Reply(id,score) {
        this.id=id;
        this.score=score;
        return this;
    }


    function submitScore() {
        var usesReplyList =[];
        $.each($("#review").find(".shortAnswer"),function () {
            var id = $(this).find("input[name='id']");
            var score = $(this).find("input[name='score']");
            var userReply = new Reply(id.val(),score.val());
            usesReplyList.push(userReply);
            alert(JSON.stringify(usesReplyList));
        })
        $.each($("#review").find(".other"),function () {
            var id = $(this).find("input[name='id']");
            var score = $(this).find("input[name='score']");
            var userReply = new Reply(id.val(),score.val());
            usesReplyList.push(userReply);
            alert(JSON.stringify(usesReplyList));
        })
        var data = JSON.stringify(usesReplyList);
        $.ajax({
            url:ctx + "teacher/review/reviewUpdate",
            type:'post',
            data: data,
            dataType:"json",
            contentType:"application/json",
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
            },
            success: function(result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                if (result.code == web_status.SUCCESS) {
                    $.modal.alertSuccess(result.msg)
                } else if (result.code == web_status.WARNING) {
                    $.modal.alertWarning(result.msg)
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            }
        })

    }
</script>
</body>
</html>
