<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户列表')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <div class="select-list">
                        <ul>
                            <li>
                              学号：<input type="text" name="loginName"/>
                            </li>
                            <li>
                                作业状态：<select name="state" th:with="type=${@dict.getType('job_state')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li class="select-time">
                                <label>提交时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>



            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script th:inline="javascript">
    var datas = [[${@dict.getType('job_state')}]];
    var prefix = ctx + "teacher/review";

    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });
        queryList();
    });

    function queryList() {
        var options = {
            url: prefix + "/reviewList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            sortName: "submitTime",
            sortOrder: "desc",
            modalName: "作业",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '搜索',
                    visible: false
                },
                {
                    field: 'studentName',
                    title: '姓名',
                },
                {
                    field: 'loginName',
                    title: '学号',
                },
                {
                    field: 'state',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'submitTime',
                    title: '提交时间',
                    sortable: true
                },
                {
                    field: 'reviewTime',
                    title: '批阅时间',
                    sortable: true
                },
                {
                    field: 'reviewBy',
                    title: '批阅人'
                },
                {
                    field: 'score',
                    title: '成绩',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs "href="javascript:void(0)" onclick="review(\'' + row.id + '\')"><i class="fa fa-edit"></i>批改</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }


    function review(id) {
        var view = ctx+"teacher/review/review?id="+id;
        $.modal.openTab('批改作业', view);
    }


</script>
</body>

</html>