<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('Summernote富文本编辑器')" />
    <th:block th:include="include :: summernote-css" />
</head>
<body class="gray-bg">
<!-- 主面板 -->
<div class="ibox">
    <!-- 主面板标题-->
    <div class="ibox-title">
        <h5>第一章总结 &nbsp;&nbsp;&nbsp;<span style="color: red;">80</span></h5>
    </div>
    <!-- 主面板内容-->
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">
                <!-- 第一层面板-->
                <form class="form-horizontal m" id="form-notice-add">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>第一题：简答题</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- 第二层面板-->
                                <div class="ibox float-e-margins">
                                    <!--  第二层面板标题-->
                                    <div class="ibox-title">
                                        <h5>1.写出对应的XML</h5>
                                    </div>
                                    <!--  第二层面板内容-->
                                    <div class="ibox-content" id="eg">
                                        <h4>我的答案:</h4>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input id="noticeContent" name="noticeContent" type="hidden">
                                                <div class="summernote"></div>
                                            </div>
                                        </div>
                                        <button type="submit" onclick="submitHandler()">提交</button>
                                    </div>
                                </div><!-- 第二层面板-->
                            </div>
                        </div>
                    </div>
                </div><!-- 第一层面板 end--></form>
            </div>
        </div>
    </div><!-- 主面板内容 end-->
</div><!-- 主面板 end-->
<th:block th:include="include :: footer" />
<th:block th:include="include :: summernote-js" />
<script>
    var prefix = ctx + "student/homework/editUpdate";

    $('.summernote').summernote({
        placeholder: '请输入你的答案',
        height : 192,
        lang : 'zh-CN',
        followingToolbar: false
    });

    $("#form-notice-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var sHTML = $('.summernote').summernote('code');
            $("#noticeContent").val(sHTML);
            $.operate.save(prefix , $('#form-notice-add').serialize());
        }
    }


</script>
</body>
</html>
